// Misc.
	$misc: (
		bg:				#348cb2 url("images/bg.png") bottom left,
		bg-width:			1055px
	);

// Duration.
	$duration: (
		bg:				60s,
		wrapper:			3s,
		overlay:			1.5s,
		header:				1s,
		nav-icons:			0.5s
	);

// Size.
	$size: (
		nav-icon-wrapper:               5.35em,
		nav-icon:                       1.75em
	);

// Font.
	$font: (
	);

// Palette.
	$palette: (
		bg:			 	#fff,
		fg:					#fff,

		nav-icon: (
			hover-bg:		rgba(255,255,255,0.175),
			hover-fg:		#fff,
			active-bg:		rgba(255,255,255,0.35),
			active-fg:		#fff
		)
	);
